{% extends "base.html" %}

{% block title %}Zarządzanie zadaniem - {{ task.name }}{% endblock %}

{% block content %}
    <h2>Zarządzanie zadaniem - {{ task.name }}</h2>
    <form method='POST' enctype='multipart/form-data'>
        {% csrf_token %}
        <table class="table table-striped">
            {{ form }}
        </table>
        <div style="text-align: right;"><button>Zmień dane</button></div>
    </form>
    <a href="/manage_task/{{ task.id }}/tests">Zarządzaj testami</a>
{% endblock %}
