{% extends "base.html" %}

{% block title %}Zarządzaj zadaniami{% endblock %}

{% block content %}
    <h2>Zarządzaj zadaniami</h2>
    <table class="table table-striped">
        <tr style="font-weight: bold;">
            <td>Nazwa zadania</td>
            <td>Limit pamięci</td>
            <td>Autor</td>
            <td></td><td></td>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.memlimit }}MB</td>
                <td>{{ task.author }}</td>
                <td><a href="/manage_task/{{ task.id }}">Zarządzaj</a></td>
                <td><a href="/remove_task/{{ task.id }}">Usuń</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}