{% extends "base.html" %}

{% block title %}Zarządzanie testami - {{ task.name }}{% endblock %}

{% block content %}
    <h2>Zarządzanie testami - {{ task.name }}</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ formset.management_form }}
        {% for form in formset %}
            <table class="table table-bordered">
                {{ form }}
            </table>
        {% endfor %}
        <div class="right">
            <button>Zastosuj zmiany</button>
        </div>
    </form>
    <a href="/manage_task/{{ task.id }}/tests/add">Dodaj test</a>
{% endblock %}
