{% extends "base.html" %}

{% block title %}{{ task.name }}{% endblock %}

{% block head %}
    <script>
        $(document).ready(function() {
            code = $('#code');
            if (code.length > 0) {
                code.keydown(function(e) {
                    if (e.which == 9) {
                        e.preventDefault();
                        var start = code[0].selectionStart;
                        var end = code[0].selectionEnd;
                        code.val(code.val().substring(0, start) + "    " + code.val().substring(end));
                        code[0].selectionStart = start+4;
                        code[0].selectionEnd = start+4;
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    <h2 style="text-align: center">{{ task.name }}</h2>
    <div style="width: 100%; text-align: right;">
        Autor: <b>{{ task.author }}</b><br>
        Limit pamięci: <b>{{ task.memlimit }}MB</b><br>
        <a href='/task/{{ task.clear_name }}/solutions'>Twoje rozwiązania</a><br>
        <a href='/task/{{ task.clear_name }}/published'>Opublikowane rozwiązania</a>
    </div>
    <div style="margin-bottom: 20px">{{ task.description |safe }}</div>
    {% if user.is_authenticated %}
        <form method='post' action='/test/{{task.id}}'>
            {% csrf_token %}
            <input type='hidden' name='task' value='{{ task.clear_name }}'>
            <b>Rozwiązanie:</b><br>
            <textarea name='code' id='code' class='form form-control' style='width: 100%; min-height: 30%; margin-bottom: 10px;'></textarea>
            <button>Wyślij</button>
        </form>
    {% else %}
        <b>Musisz być zalogowany żeby wysyłać zgłoszenia.</b>
    {% endif %}
    <div id='comments' class='container'>
        <table class='table table-striped'>
            {% for comment in comments %}
                <tr>
                    <td><b>{{ comment.author }}</b></td>
                    <td style='white-space: pre-line; width: 70%;'>{{ comment.content }}</td>
                    <td style='color: grey'>{{ comment.date }}</td>
                    {% ifequal comment.author user %}
                        <td>
                            <form action='/remove_comment' method='POST'>
                                {% csrf_token %}
                                <input type='hidden' name='comment' value='{{ comment.id }}'>
                                <input type='hidden' name='task' value='{{ task.id }}'>
                                <button>Usuń</button>
                            </form>
                        </td>
                    {% endifequal %}
                </tr>
            {% endfor %}
        </table>
        Dodaj komentarz:
        <form action='/add_comment' method='POST'>
            {% csrf_token %}
            <input type='hidden' name='task' value='{{ task.id }}'>
            <textarea name='comment' style='width: 100%; min-height: 10%; border-radius: 10px; margin-bottom: 10px;'></textarea>
            <div class='right'><button>Dodaj komentarz</button></div>
        </form>
    </div>
    <div id='footer' style='height: 5%'></div>
{% endblock %}
