{% extends "base.html" %}

{% block title %}{{ task.name }}{% endblock %}

{% block content %}
    <h2 style="text-align: center">{{ task.name }}</h2>
    <div style="width: 100%; text-align: right;">
        Autor: <b>{{ task.author }}</b><br>
        Limit pamięci: <b>{{ task.memlimit }}MB</b>
    </div>
    <div style="margin-bottom: 20px">{{ task.description |safe }}</div>
    <form method='post' action='/test/'>
        {% csrf_token %}
        <input type='hidden' name='task' value='{{ task.clear_name }}'>
        <b>Rozwiązanie:</b><br>
        <textarea name='code' style='width: 100%; height: 50%; margin-bottom: 10px;'></textarea>
        <button>Wyślij</button>
    </form>
{% endblock %}