{% extends "base.html" %}

{% block title %}{{ task.name }}{% endblock %}

{% block head %}
    <script>
        $(document).ready(function() {
            code = $('#code');
            if (code.length > 0) {
                code.keydown(function(e) {
                    if (e.which == 9) {
                        e.preventDefault();
                        var start = code[0].selectionStart;
                        var end = code[0].selectionEnd;
                        code.val(code.val().substring(0, start) + "    " + code.val().substring(end));
                        code[0].selectionStart = start+4;
                        code[0].selectionEnd = start+4;
                    }
                });
            }
        });
    </script>
{% endblock %}

{% block content %}
    <h2 style="text-align: center">{{ task.name }}</h2>
    <div style="width: 100%; text-align: right;">
        Autor: <b>{{ task.author }}</b><br>
        Limit pamięci: <b>{{ task.memlimit }}MB</b>
    </div>
    <div style="margin-bottom: 20px">{{ task.description |safe }}</div>
    {% if user.is_authenticated %}
        <form method='post' action='/test/{{task_id}}'>
            {% csrf_token %}
            <input type='hidden' name='task' value='{{ task.clear_name }}'>
            <b>Rozwiązanie:</b><br>
            <textarea name='code' id='code' class='form form-control' style='width: 100%; min-height: 30%; margin-bottom: 10px;'></textarea>
            <button>Wyślij</button>
        </form>
    {% else %}
        <b>Musisz być zalogowany żeby wysyłać zgłoszenia.</b>
    {% endif %}
{% endblock %}
