{% extends "base.html" %}

{% block title %}Zobacz zgłoszenia{% endblock %}

{% block content %}
    <h2>Zobacz zgłoszenia</h2>
    <table class="table table-striped">
        <tr style="font-weight: bold;">
            <td>Autor</td>
            <td>Zadanie</td>
            <td>Data</td>
            <td>Wynik</td>
            <td></td>
        </tr>
        {% for sol in solutions %}
            <tr>
                <td>{{ sol.user.username }}</td>
                <td><a href='/task/{{ sol.task.clear_name }}'>{{ sol.task.name }}</a></td>
                <td>{{ sol.date }}</td>
                <td>{{ sol.points }}</td>
                <td><a href="/show_solution/{{ sol.pk }}">Szczegóły</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
